
<div id="main-div">

 
  <div class="text-center">
    <%= link_to 'Create Note', new_notebook_path, method: :get %>
  </div>

  <div class = "d-flex flex-wrap keep-note">
    <% @notebooks.each do |notebook|%>

      <!-- first_Child_start-->
      <div id = "note-view"> 
        <% if (notebook.pinned?) && (notebook.bin == false) %>
          <%= link_to edit_notebook_path(notebook), class: "edit_link" do %>
            <div>
               <div class ="card m-4" style="width: 18rem; ">
                <div class="card-body">
                  <h2> <%= notebook.title %></h2> 
                  <p><%= notebook.description%></p>
                  <p class="card-text"><%= notebook.date if notebook.date.present? %></p>
                  <p class="card-text"><%= notebook.time.strftime("%t") if notebook.time.present? %></p>
          <% end %>  
                  <div>
                    <%= button_to  notebook_path(notebook), method: :delete , id: "trash" do%>
                      <i class="ri-delete-bin-6-line"></i>
                    <% end %>
                  </div>
                </div>
              </div>
              <hr>
            </div>             
        <% end %>  

        <% if (!notebook.pinned?) && ( notebook.bin == false) %>
          <%= link_to edit_notebook_path(notebook), class: "edit_link" do %>

            <div class ="card m-4" style="width: 18rem; ">
              <div class="card-body">
                <h2> <%= notebook.title %></h2> 
                <p><%= notebook.description%></p>
                <p class="card-text"><%= notebook.date if notebook.date.present? %></p>
                <p class="card-text"><%= notebook.time.strftime("%t") if notebook.time.present? %></p>
          <% end %> 
                <div>   
                  <%= button_to  notebook_path(notebook), method: :delete , id: "trash" do%>
                    <i class="ri-delete-bin-6-line"></i>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
   
      <!-- first child end   -->

      <!-- second-child start-->
      <div id="reminder-view", style="display: none;">
        <% if ((notebook.date.present?) || (notebook.time.present?)) && notebook.bin == false %>
          <%= link_to edit_notebook_path(notebook) , class: "edit_link" do %>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= notebook.title %></h5>
                <p class="card-text"><%= notebook.description %></p><br>
                <p class="card-text"><%= notebook.date %></p>
                <p class="card-text"><%= notebook.time %></p>
          <% end %>
                <div>
                  <%= button_to  notebook_path(notebook), method: :delete, id: "trash" do%>
                    <i class="ri-delete-bin-6-line"></i>
                  <% end %>
                </div>

              </div>
            </div>     
        <% end %>
      </div>
      <!-- second-child-end-->

      <!-- third-child start-->
      <div id="bin-view", style="display: none;">
        <% if (notebook.bin?) %>
         <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= notebook.title %></h5>
              <p class="card-text"><%= notebook.description %></p><br>
              <p class="card-text"><%= notebook.date %></p>
              <p class="card-text"><%= notebook.time %></p>
            </div>
            <div>
              <%= button_to 'Restore', restore_note_path(notebook), method: :delete%>
            </div>     
          </div>
        <% end %>
      </div>
      <!-- third-child-end-->

      <div id="edit-label-view">
       <!--  <div class="card" style="width: 18rem;">
         
        </div> -->
      </div>


    <% end %> 
  </div>

</div>






